## Welcome to the Numpy Tutorials

In [1]:
import numpy as np

In [2]:
my_arr = np.array([[0,1,2], [3,4,5]], np.int32) # it's a 2d array created with using np.array()

In [3]:
print(my_arr)

[[0 1 2]
 [3 4 5]]

In [4]:
my_arr

array([[0, 1, 2],
       [3, 4, 5]], dtype=int32)

In [5]:
my_arr.dtype

dtype('int32')

In [6]:
my_arr.shape

(2, 3)

In [7]:
my_arr[0,2]

np.int32(2)

### Array conversion: conversion from other python stractures

In [8]:
listarray = np.array([[1,2,3],[4,5,6],[7,8,9]]) # below i can use some built-in function

In [9]:
listarray

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [17]:
listarray.dtype

dtype('int64')

In [18]:
listarray.shape

(3, 3)

In [19]:
listarray.size

9

In [23]:
# let us supponse apn ik set le latee hai, so woh efficient nhi hota hai. Thus, We use int or float type only for np array.

In [21]:
iklist = np.array({1,2,3,4,5,6,7,8,9})

In [22]:
iklist

array({1, 2, 3, 4, 5, 6, 7, 8, 9}, dtype=object)

In [24]:
# functions provide to us by np for the creation of array

In [25]:
zeroes = np.zeros((2,5)) # use to create a array with values 0

In [26]:
zeroes

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [33]:
arange = np.arange(12) # it is use to create a array some similar to range in python. 
# As i pass 12 so it create a np array having values in range (0,12)

In [29]:
arange

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [31]:
lspace = np.linspace(1,5,4) # it provide us a array having a linear space
# Syntax: linspace(Num1, Num2, Total_number_i_want) 
# Num1: starting range
# Num2: ending range
# Total_number_i_want : the number i want
# As i saw linspace(1,5,4). therefore the range is set in between (1,5) and total number i want is 4

In [32]:
lspace

array([1.        , 2.33333333, 3.66666667, 5.        ])

In [34]:
# see array contains 4 values having equal space in between them

In [35]:
emp = np.empty((4,6)) # it usually create a empty array and assign it random values
# now it's upto me that assign the values accordingly

In [36]:
emp

array([[4.67296746e-307, 1.69121096e-306, 1.06811354e-306,
        4.45058910e-308, 1.69121367e-306, 1.42419938e-306],
       [7.56603881e-307, 8.45603440e-307, 3.56043054e-307,
        1.60219306e-306, 6.23059726e-307, 1.06811422e-306],
       [3.56043054e-307, 1.37961641e-306, 1.00132483e-307,
        8.01097889e-307, 1.78020169e-306, 7.56601165e-307],
       [1.02359984e-306, 1.33510679e-306, 2.22522597e-306,
        1.11260144e-306, 6.89812281e-307, 2.22522596e-306]])

In [37]:
emp_like = np.empty_like(lspace)
# it is use to create a empty array using the previous one having the same size and dimension.

In [38]:
emp_like

array([1.        , 2.33333333, 3.66666667, 5.        ])

In [39]:
# see the lspace array and emp_like have same dimensions

In [40]:
ide = np.identity(10)
# usually use to create a identity matrix according to the parametre
# here i pass 10 and thus i get a 10x10 matrix

In [42]:
ide

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1.]])

In [43]:
ide.shape

(10, 10)

In [44]:
ide.size

100

In [11]:
array = np.arange(40)

In [13]:
array
# currently its a id array

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39])

In [14]:
ab = array.reshape(4,10)

In [15]:
ab

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39]])

In [16]:
ab.shape

(4, 10)

In [19]:
kuda = array.reshape(3,10)
# see error.
# make sure when we use array all values should be include in the newly created array in a mathematical order.
# eg: if i use (4,11) error is same as it exceeds the limit.

ValueError: cannot reshape array of size 40 into shape (3,10)

In [24]:
cd = ab.ravel()
# use to convert the existing array in 1D array

In [25]:
cd.shape

(40,)

In [26]:
cd.size

40

#### Numpy Axis

**rows: axis0** 

**columns: axis1**

1. while i perform action on axis0 it will use all the rows
2. while i perform action on axis1 it will use all the columns

In [27]:
x = ([1,2,3], [4,5,6], [7,8,9])

In [28]:
a = np.array(x)

In [29]:
a

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [30]:
a.sum(axis = 0)

array([12, 15, 18])

In [31]:
a.sum(axis = 1)

array([ 6, 15, 24])

In [32]:
a.T
# use to transpose the arry

array([[1, 4, 7],
       [2, 5, 8],
       [3, 6, 9]])

In [33]:
a.flat

In [34]:
for item in a.flat:
    print(item)

1
2
3
4
5
6
7
8
9

In [36]:
ary = np.array(x)

In [37]:
ary

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [39]:
ary.ndim
# use to check the dimension

2

In [48]:
ary.nbytes
# this tell me about how much bytes is taken by our array

72

In [41]:
one = np.array([1,3,5,21,11,7])

In [45]:
one

array([ 1,  3,  5, 21, 11,  7])

In [46]:
one.argmax()
# find the largest value and return its position

np.int64(3)

In [49]:
one.argmin()
# find the smallest value and return its position

np.int64(0)

In [51]:
one.argsort()
# use to sort the array and provide their index(position in array).

array([0, 1, 2, 5, 4, 3])

In [53]:
np.where(one>5)
# use to find the  values and it provide us index

(array([3, 4, 5]),)

In [57]:
# refer docs.scripy link for more info. go to google and type numpy functions and mehtods